어려웠던 문제를 복습하는 시간을 가져봅시다

# Day1 - (HARD) Weather Observation Station 5 - 서브쿼리인듯?
Query the two cities in STATION with the shortest and longest CITY names, as well as their respective lengths (i.e.: number of characters in the name). If there is more than one smallest or largest city, choose the one that comes first when ordered alphabetically.

In [ ]:
# 한 놈은 가장 짧은 놈
select city, length(city) from station
where length(city) = (
    select min(CHAR_LENGTH(city)) from station 
)
order by city
limit 1;


# 한 놈은 가장 긴 놈
select city, length(city) from station
where length(city) = (
    select max(CHAR_LENGTH(city)) from station 
)
order by city
limit 1;

# 정답!

# Day1 - [~~로 시작하는 글자 찾기] Weather Observation Station 6

Query the list of CITY names starting with vowels (i.e., a, e, i, o, or u) from STATION. Your result cannot contain duplicates.

In [ ]:
select distinct(city) from station
# 정규표현식 Regular Expression? 줄여서 RegExp 
select distinct(city) from station
where REGEXP_LIKE(city,"^a|^e|^i|^o|^u")
# 정답!
# | 를 여러개 쓰지 말고
# REGEXP_LIKE(city,'^[aeiouAEIOU]') 이렇게하는게 더 깔끔하네

# Day2 - [조건문 CASE Hard] Type of Triangle

Write a query identifying the type of each record in the TRIANGLES table using its three side lengths. Output one of the following statements for each record in the table:

Equilateral: It's a triangle with  sides of equal length.
Isosceles: It's a triangle with  sides of equal length.
Scalene: It's a triangle with  sides of differing lengths.
Not A Triangle: The given values of A, B, and C don't form a triangle.

In [ ]:
# https://velog.io/@inyong_pang/MySQL-MySQL-variables%EB%B3%80%EC%88%98-%EB%A7%8C%EB%93%A4%EC%96%B4%EC%84%9C-%EC%9D%91%EC%9A%A9%ED%95%98%EA%B8%B0getidPK
# ㄴ mysql 변수 만들어서 응용하기
# 기대값 4종류 : 정삼각형, 이등변 삼각형, 이상한 삼각형, 삼각형이 아님
SET @return = 1

select @return,
case
  when (a+b < c) or (a+c < b) or (b+c < a) then @return := "Not A Triangle"
  when (a=b & b > c) or (a=c & c > b) or (c=b & b > a) then @return := "Isosceles"
  when (a=b & b = c) then @return := "Equilateral"
  else @return := "Scalene"
end
from TRIANGLES 

# ㄴ case랑 when이랑 헷갈린거 같다 ;;
select case
  when (a+b <= c) or (a+c <= b) or (b+c <= a) then "Not A Triangle"
  when a=b & b = c then "Equilateral"
  # 헉! AND 랑 && 랑 같은거였다. &는 틀림. 논리연산자로서 &&.
  when (a=b & 2b > c) or (a=c & 2c > b) or (c=b & 2b > a) then "Isosceles"
  else "Scalene"
end
from TRIANGLES 

# 다른 사람의 정답
SELECT
  CASE
      WHEN a+b <= c OR a+c <= b OR b+c <= a THEN 'Not A Triangle'
      WHEN a=b AND b=c THEN 'Equilateral'
      WHEN a=b OR b=c OR c=a THEN 'Isosceles'
      ELSE 'Scalene'
      END
FROM triangles;